body{
	background-color: #5F9EA0;
}

.jumbotron{
	margin-top: -3%;
	padding-bottom: 10px;
	background-color: #E0FFFF;
}

#messageToday{
	padding-top: 3%;
	font-size: 180%;
	padding-bottom: 10%;
}

#myBox{
	margin-top: 4%;
}

#myFooter {
	background-color: #E0FFFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 35%;

}

#myButton{
	padding-top: 1%;
	text-align:center
}


::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
	text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;  
}

:-ms-input-placeholder {  
	text-align: center; 
}
